@import url("../../common.css?v1.0.2");

* {
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
}
body {
    background-color: white;
}
a {
    color: white;
    text-decoration: none;
}

#div_container { /*最外层div，用于居中兼容PC和移动*/
    width: 500px;
    margin: 0px auto;
    position: relative;
    /*background-color: #FAFAFA;*/
    font-size: 1em;
}



.div_simple_page { /*文字部分的最外层，用于定位*/
    position: relative;
    display: none;
}
.div_s_page_bg { /*背景设置在这里*/
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;
    width: 500px;
    min-height: 1200px;
}
.div_s_page_height {
    visibility: hidden;
    padding: 30px;
    text-align: justify;  /*为了使文字两端对齐 */
    white-space:pre-wrap; /*保留换行效果*/
    color: silver;
}
.div_s_page_zx {
    position: absolute;
    left: 0;
    right: 0;  /*4个方向定位使div充满整个画画*/
    top: 0;
    bottom: 0;  /*4个方向定位使div充满整个画画*/
    width: 500px;
    background:rgba(255,255,255,0.8); /*半透明效果*/
    padding: 30px;
    text-align: justify;  /*为了使文字两端对齐 */
    white-space:pre-wrap; /*保留换行效果*/
}


#div_start_bg{
    width: 100%; height: 100%;
    position: absolute;
    left: 0px; top: 0px;
    z-index: 44;
    background-color: white;
}

.div_s_page_zx * {
    color: #555;
    word-wrap: break-word;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.div_s_page_zx h2 {
    font-size: 1.2em;
    font-weight: 800 !important;
    /*position: relative;*/
    line-height: 1.5em;
    padding: 10px 0 0;
}
.div_s_page_zx h4 {
    font-weight: 800 !important;
    /*position: relative;*/
    line-height: 1.5em;
    padding: 10px 0 0;
}
.div_s_page_zx p {
    /*position: relative;*/
    line-height: 1.5em;
    padding: 10px 0 0;
}
.div_s_page_zx blockquote {
    display: inline-block;
    padding-left: 1em;
    border-left: 3px solid #d0d0d0;
}
.div_s_page_zx ul {
    padding-left: 20px;
    list-style: disc;
}
.div_s_page_zx li {
    /*position: relative;*/
    line-height: 1.5em;
    padding: 10px 0 0;
}

.div_s_page_zx {
    /*outline: none;*/
    /*box-sizing: border-box;*/
    color: #555;
    word-wrap: break-word;
}



#div_onlyyou {
    position:relative;
    width: 100%;
    z-index:666;
    background-size: 100%;
    background-repeat: repeat;
    display: none;
}
#div_oy_inner {
    position:absolute;
    top: 0;right: 0;left: 0;bottom: 0;
    width: 100%;
    min-height:400px;
    padding: 12% 10% 0% 10%;
    background: rgba(255,255,255,.8);
    text-align: center;
}

.div_oy_text {
    font-weight: 300;
    text-align: left;
    font-size: 1.1em;
    margin: 0px auto 60px auto;
}
.div_oy_text h1 {
    font-size: 1.8em;
    margin: 14px 0;
}
.div_oy_text p {
    margin: 14px 0;
}
.div_oy_text img {
    width: 100%;
    border-radius: 5px;
}

#ul_oy_benefit li {
    display: none;
    margin: 14px 0;
}


#ul_oy_benefit, #ul_oy_btn {
    list-style: none;
}
#ul_oy_btn li {
    background-color: rgba(0,0,0,0.6);
    display: inline;
    margin: 20px 40px;
    padding: 10px 15px;
    font-size: 1.4em;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
#div_oy_note, #div_oy_yes {
    position: relative;
    margin: -60px auto;
    padding: 5% 0;
    width: 100%;
    height: 180px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    display: none;
    color: gray;
    font-size: 1.4em;
}
#div_oy_note_close {
    width: 40px; height: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
}


.div_btn {
    position: fixed;
    cursor: pointer;
    width: 42px;
    height: 42px;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 1em;
    line-height: 40px;
    text-align: center;
    z-index:999;
}
#div_music {
    border: none;
    top: 30px;
    right:20px;
}
#div_record {
    top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}


.div_music_tips{
    position: fixed;
    top: 70px;
    z-index:999;
}
.div_record_tips{
    position: fixed;
    top: 140px;
    z-index:999;
}

@-webkit-keyframes music_play_rotate{
    0%{
        -webkit-transform:rotate(0deg);
    }
    100%{
        -webkit-transform:rotate(360deg);
    }
}
@-webkit-keyframes btn_rotate{ /*帮助按钮的动画*/
    0%  {
        -webkit-transform:rotate(0deg);
    }
    40% {
        -webkit-transform:rotate(0deg);
    }
    50% {
        -webkit-transform:rotate(30deg);
    }
    60% {
        -webkit-transform:rotate(0deg);
    }
    70% {
        -webkit-transform:rotate(30deg);
    }
    80% {
        -webkit-transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(0deg);
    }
}
#btn-make,#div_support,#div_wph{right:22px;}